body{
    margin: 0;
}

.LoginForm {
    color: #FFF;
    background-color: #333;
    text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}

.Form{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px;
    letter-spacing: 1.6px;
    word-spacing: 0.6px;
    color: #EA85FF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: lowercase;
    border-left: 14px groove #916CA4;
}

.Login{
    color: rgb(84, 52, 102); 
    font-size: 20px; 
    line-height: 20px; 
    padding: 7px; 
    border-radius: 50px; 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: small-caps;
    
}