body{
    margin: 0;
    text-align: center;
}

/* .LoginForm {
    color: #FFF;
    background-color: #333;
    text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
} */

/* Lit */
.LoginForm {
    color: #FFFFFF;
    background: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: #FFFFFF;
    background: #232323;
}

.Form{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px;
    letter-spacing: 1.6px;
    word-spacing: 0.6px;
    color: #EA85FF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: lowercase;
}

.Login{
    color: rgb(84, 52, 102); 
    font-size: 20px; 
    line-height: 20px; 
    padding: 7px; 
    border-radius: 50px; 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: small-caps;  
}

#girls {
    width: 30%;
}